html > body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
}

.demo-card-event.mdl-card {
  width: 100%;
  height: 600px;
}

.demo-card-event > .mdl-card__title {
  height: 50px;
  color: #fff;
  align-items: flex-start;
  background: #46B6AC;
}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
}

.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.demo-card-event > .mdl-card__supporting-text span {
  display: block;
}